<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('AddNew')}">
    <title>AddNew</title>
</head>
<body>
<h2>TỜ KHAI Y TẾ</h2>

<div th:if="${message}" class="notify">
    <span th:text="${message}"></span>
</div>

<div id="form" style="margin: 0 auto;">
    <form th:action="@{/form/update}" th:object="${form}"
          method="GET" enctype="multipart/form-data">
        <label for="name">Họ tên (Ghi chữ IN HOA) <span class="red">(*)</span></label><br>
        <input type="text" id="name" th:value="*{name}" readonly/><br>
        <table>
            <tr>
                <td>Năm sinh <span class="red">(*)</span></td>
                <td>Giới tính <span class="red">(*)</span></td>
                <td>Quốc tịch <span class="red">(*)</span></td>
            </tr>
            <tr>
                <td>
                    <span th:text="*{birthYear}">
                    </span>
                </td>
                <td>
                    <span th:text="*{sex}">
                    </span>
                </td>
                <td>
                    <span th:text="*{nationality}">
                    </span>
                </td>
            </tr>
        </table>

        <label for="cccd">Số CCCD/CMND hoặc giấy thông hành hợp pháp khác <span class="red">(*)</span></label><br>
        <input type="text" id="cccd" th:field="*{cccd}" disabled/><br>

        <label for="transport">Thông tin đi lại <span class="red">(*)</span></label>
        <br>
        <input type="text" id="transport" th:field="*{transport}" disabled/><br>

        <table>
            <tr>
                <td>Số hiệu phương tiện</td>
                <td>Số ghế</td>
            </tr>
            <tr>
                <td><input type="text" placeholder="VD:VN123" th:field="*{transportId}" disabled></td>
                <td><input type="text" th:field="*{chairNumber}" disabled></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>Ngày khởi hành <span class="red">(*)</span></td>
                <td>Ngày kết thúc <span class="red">(*)</span></td>
            </tr>
            <tr>
                <td>
                    <span th:text="*{startDate}"></span>/
                    <span th:text="*{startMonth}"></span>/
                    <span th:text="*{startYear}"></span>
                </td>
                <td>
                    <span th:text="*{endDate}"></span>/
                    <span th:text="*{endMonth}"></span>/
                    <span th:text="*{endYear}"></span>
                </td>
            </tr>
        </table>

        <label for="places">Trong vòng 14 ngày qua, Anh/Chị có đến tỉnh/thành phố nào?
            <span class="red">(*)</span></label><br>
        <input type="text" id="places" th:field="*{visitedPlaces}" disabled/><br>

        <br>
        <strong>Địa chỉ liên lạc</strong><br>
        <br>
        <table>
            <tr>
                <td>Tỉnh / thành <span class="red">(*)</span></td>
                <td>Quận / huyện <span class="red">(*)</span></td>
                <td>Phường / xã <span class="red">(*)</span></td>
            </tr>
            <tr>
                <td>
                    <span th:text="*{city}"></span>
                </td>
                <td>
                    <span th:text="*{town}"></span>
                </td>
                <td>
                    <span th:text="*{street}"></span>
                </td>
            </tr>
        </table>

        <label for="address">Địa chỉ nơi ở <span class="red">(*)</span></label><br>
        <input type="text" id="address" th:field="*{address}" disabled/><br>

        <table>
            <tr>
                <td>Điện thoại <span class="red">(*)</span></td>
                <td>Email</td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{phone}" disabled></td>
                <td><input type="text" th:field="*{email}" disabled></td>
            </tr>
        </table>

        <br>
        <strong>Trong vòng 14 ngày qua, Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?
            <span class="red">(*)</span></strong><br>
        <br>
        <div style="display: inline-block; width: 400px;">
            <table style="border-collapse: collapse; font-family: Arial, sans-serif; width: 100%;">
                <thead>
                <tr style="background-color: #f5f5f5;">
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Triệu chứng</th>
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Có</th>
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Không</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Sốt <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom1"
                               style="width: 20px; height: 20px;" th:checked="${form.symptom1}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom1"
                               style="width: 20px; height: 20px;" th:checked="${!form.symptom1}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Ho <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom2" style="width: 20px; height: 20px;" th:checked="${form.symptom2}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom2" style="width: 20px; height: 20px;" th:checked="${!form.symptom2}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Khó thở <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom3" style="width: 20px; height: 20px;" th:checked="${form.symptom3}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom3" style="width: 20px; height: 20px;" th:checked="${!form.symptom3}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Đau họng <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom4" style="width: 20px; height: 20px;" th:checked="${form.symptom4}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom4" style="width: 20px; height: 20px;" th:checked="${!form.symptom4}" th:disabled="true">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="display: inline-block; width: 400px;">
            <table style="border-collapse: collapse; font-family: Arial, sans-serif; width: 100%;">
                <thead>
                <tr style="background-color: #f5f5f5;">
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Triệu chứng</th>
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Có</th>
                    <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Không</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Nôn/buồn nôn <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom5" style="width: 20px; height: 20px;" th:checked="${form.symptom5}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom5" style="width: 20px; height: 20px;" th:checked="${!form.symptom5}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Tiêu chảy <span class="red">(*)</span></td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom6" style="width: 20px; height: 20px;" th:checked="${form.symptom6}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom6" style="width: 20px; height: 20px;" th:checked="${!form.symptom6}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Xuất huyết ngoài da <span class="red">(*)</span>
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom7" style="width: 20px; height: 20px;" th:checked="${form.symptom7}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom7" style="width: 20px; height: 20px;" th:checked="${!form.symptom7}" th:disabled="true">
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #ddd; padding: 12px;">Nổi ban ngoài da <span class="red">(*)</span>
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom8" style="width: 20px; height: 20px;" th:checked="${form.symptom8}" th:disabled="true">
                    </td>
                    <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                        <input type="radio" name="symptom8" style="width: 20px; height: 20px;" th:checked="${!form.symptom8}" th:disabled="true">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br><br>
        <strong>Lịch sử phơi nhiễm: Trong vòng 14 ngày qua, Anh/Chị có <span class="red">(*)</span></strong><br>
        <br>
        <table style="border-collapse: collapse; width: 100%; max-width: 600px; font-family: Arial, sans-serif;">
            <thead>
            <tr style="background-color: #f5f5f5;">
                <th style="border: 1px solid #ddd; padding: 12px; text-align: left;"></th>
                <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Có</th>
                <th style="border: 1px solid #ddd; padding: 12px; text-align: center;">Không</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border: 1px solid #ddd; padding: 12px;">
                    Đến trang trại chăn nuôi / chợ buôn bán động vật sống / tiếp xúc động vật
                    <span class="red">(*)</span>
                </td>
                <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                    <input type="radio" name="history1" style="width: 20px; height: 20px;" th:checked="${form.history1}" th:disabled="true">
                </td>
                <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                    <input type="radio" name="history1" style="width: 20px; height: 20px;" th:checked="${!form.history1}" th:disabled="true">
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 12px;">
                    Tiếp xúc gần (<2m) với người mắc bệnh viên được hô hấp do nCoV
                    <span class="red">(*)</span>
                </td>
                <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                    <input type="radio" name="history2" style="width: 20px; height: 20px;" th:checked="${form.history2}" th:disabled="true">
                </td>
                <td style="border: 1px solid #ddd; padding: 12px; text-align: center;">
                    <input type="radio" name="history2" style="width: 20px; height: 20px;" th:checked="${!form.history2}" th:disabled="true">
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <input type="submit" value="SỬA TỜ KHAI">
    </form>
</div>

<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>